<section class="pt-20 pb-10">
  <app-heading
    subHeading="Over Cources "
    headingText1="How it workes"
    headingText2="All Studnets"
    speicalHeadingID="2"
  ></app-heading>
  <div class="mx-auto container">

    <ul class="flex flex-wrap lg:flex-nowrap">
      <li class="flex w-full lg:w-auto py-5 lg:py-0 ">
        <div class="rounded-2xl bg-emerald-50 p-10 relative group">
          <p
            class="relative shadow-md mb-8 w-16 h-16 flex rounded-xl bg-white group-hover:bg-emerald-600 border border-emerald-800 border-opacity-20"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 m-auto text-emerald-500 group-hover:text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </p>
          <h3 class="mb-4 text-2xl font-medium text-slate-800">
            Find the Auctionloacation
          </h3>
          <p class="text-slate-700 text-opacity-40">share the profile</p>
        </div>
      </li>
      <li class=" hidden lg:flex px-2 p-2  lg:px-5  2xl:px-10">
        <img class="m-auto w-24" src="../../../assets/shapes/shape-17.png" alt="" />
      </li>
      <li class="flex w-full py-5 lg:w-auto lg:py-0">
        <div class="rounded-2xl bg-emerald-50 p-10 relative group">
          <p
            class="relative shadow-md mb-8 w-16 h-16 flex rounded-xl bg-white group-hover:bg-emerald-600 border border-emerald-800 border-opacity-20"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 m-auto text-emerald-500 group-hover:text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
          </svg>
          
          </p>
          <h3 class="mb-4 text-2xl font-medium text-slate-800">
            Find the Auctionloacation
          </h3>
          <p class="text-slate-700 text-opacity-40">share the profile</p>
        </div>
      </li>
      <li class="hidden lg:flex lg:w-auto p-2 lg:px-5 2xl:px-2">
        <img class="m-auto w-24" src="../../../assets/shapes/shape-17.png" alt="" />
      </li>
      <li class="flex w-full py-5 lg:w-auto lg:py-0">
        <div class="rounded-2xl bg-emerald-50 p-10 relative group">
          <p
            class="relative shadow-md mb-8 w-16 h-16 flex rounded-xl bg-white group-hover:bg-emerald-600 border border-emerald-800 border-opacity-20"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 m-auto text-emerald-500 group-hover:text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </p>
          <h3 class="mb-4 text-2xl font-medium text-slate-800">
            Find the Auctionloacation
          </h3>
          <p class="text-slate-700 text-opacity-40">share the profile</p>
        </div>
      </li>
    </ul>
  </div>
</section>
