<div class="container mx-auto mb-15">
  <p class="text-xl text-emerald-600 font-medium mb-3 text-center {{align==='C'?'md:text-center':'md:text-left'}}">{{ this.subHeading }}</p>
  <h2 class="text-3xl md:text-4xl text-emerald-600 font-medium  text-center {{align==='C'?'md:text-center':'md:text-left'}}">
    <span
      class=" relative {{
        speicalHeadingID == 1 ? 'text-emerald-600' : 'text-slate-600'
      }}"
      >{{ this.headingText1 }}
      <span *ngIf="speicalHeadingID == 1" class="absolute -bottom-3 right-0 w-25 md:w-40">
        <img src="../../../assets/shapes/shape-4.webp" alt="" /> </span
    >
    </span>
    <span
      
      class="relative {{
        speicalHeadingID == 2 ? 'text-emerald-600' : 'text-slate-600'
      }}"
      >{{ this.headingText2 }}
      <span *ngIf="speicalHeadingID == 2" class="absolute -bottom-3 right-0 w-25 md:w-40">
        <img src="../../../assets/shapes/shape-4.webp" alt="" /> </span
    ></span>
    <span
      class=" relative {{
        speicalHeadingID == 3 ? 'text-emerald-800' : 'text-slate-500'
      }}"
      >{{ this.headingText3 }}
      <span *ngIf="speicalHeadingID == 3" class="absolute -bottom-3 right-0 w-25 md:w-40">
        <img src="../../../assets/shapes/shape-4.webp" alt="" /> </span
    >
    </span>
  </h2>
</div>
