<ul class="lg:flex text-slate-700 font-semibold gap-10 xl:gap-12">
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['']">Home</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['allcources']">Course</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['contact']">Contact</a>
    </li>
    <li class="p-3 border-t lg:border-0 ">
      <a [routerLink]="['blog']">Blog</a>
    </li>
    <li class="p-3 border-y lg:border-0">
      <a [routerLink]="['pages']">Page</a>
    </li>
  </ul>