<ul class="flex gap-5 justify-center text-slate-700 font-normal">
  <li>
    <a href=""
      ><app-button
        class="hidden lg:block"
        name="Login"
        size="L"
      ></app-button></a
    ><a href=""
      ><app-button
        class="lg:hidden"
        name="Login"
        size="M"
        shade="W"
        animation="F"
      ></app-button
    ></a>
  </li>
  <li>
    <a href=""
      ><app-button
        name="Register"
        size="L"
        shade="W"
        animation="F"
        class="hidden lg:block"
      ></app-button></a
    ><a href=""
      ><app-button
        class="lg:hidden"
        name="Register"
        size="M"
        shade="W"
        animation="F"
      ></app-button
    ></a>
  </li>
</ul>
