<nav
  class="absolute w-full top-0 h-screen z-50 {{
    isSideBar ? 'flex' : 'hidden'
  }}"
>
  <div class="bg-white w-full md:max-w-sm shadow-2xl">
    <div class="flex justify-end p-5">
      <svg
        (click)="this.closesidebar()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </div>
    <div class="">
      <div class="mt-3"><app-phone></app-phone></div>
      <div class="mt-3"><app-email></app-email></div>
      <div class="mt-6"><app-auth></app-auth></div>
      <div class="mt-3"><app-menu></app-menu></div>
      <div class="mt-5 "><app-social></app-social></div>
    </div>
  </div>
  <div
    (click)="this.closesidebar()"
    class="bg-gray-900 hidden md:block md:w-full opacity-70"
  ></div>
</nav>

<header class="absolute w-full z-40">
  <div class="bg-slate-800 hidden lg:block">
    <div class="container text-white py-2 px-10">
      <ul class="flex justify-between">
        <li class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 1 1 0-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 0 1-1.44-4.282m3.102.069a18.03 18.03 0 0 1-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 0 1 8.835 2.535M10.34 6.66a23.847 23.847 0 0 0 8.835-2.535m0 0A23.74 23.74 0 0 0 18.795 3m.38 1.125a23.91 23.91 0 0 1 1.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 0 0 1.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 0 1 0 3.46"
            />
          </svg>
          <p>
            All course 28% off for
            <span class="text-emerald-500">Ambernath People</span>
          </p>
        </li>
        <li>
          <img src="../assets/shapes/shape-1.webp" alt="" />
        </li>
        <li class="">
          <app-phone></app-phone>
        </li>
        <li class="">
          <app-email></app-email>
        </li>
        <li>
          <img src="../assets/shapes/shape-2.webp" alt="" />
        </li>
        <li>
          <app-social></app-social>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="px-5 {{
      isMenuScroller
        ? 'fixed top-0 w-full bg-white shadow-xl animate__animated animate__slideInDown animate-fast'
        : 'pt-10'
    }}"
  >
    <div
      class="py-3 flex justify-between items-center container {{
        isMenuScroller ? '' : 'border'
      }} border-emerald-500 border-opacity-30  rounded-xl"
    >
      <a href="">
        <img
          src="../assets/logo.png"
          alt=""
          class="lg:h-[50%] lg:w-[50%] h-[50px] px-2 rounded-full"
        />
      </a>
      <div class="lg:hidden">
        <svg
          (click)="this.opensidebar()"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-8 h-8 ml-20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
          />
        </svg>
      </div>
      <app-menu class="hidden lg:block"></app-menu>
      <app-auth class="hidden lg:block"></app-auth>
    </div>
  </div>
</header>
<router-outlet></router-outlet>

<button *ngIf="isMenuScroller" (click)="scrollToTop()"
class=" flex bottom-5 text-white fixed right-5 w-10 h-10 bg-emerald-600 hover:bg-slate-700 rounded-full transition-all duration-1000">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 m-auto ">
    <path stroke-linecap="round" stroke-linejoin="round" d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
  </svg>
  
</button>